<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Pi Control Panel .demo</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropdowns-enhancement.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/head.css') }}">
</head>
<body>
	<div class="container-fluid">
	<!--顶部菜单-->

		<nav class="navbar navbar-inverse navbar-fixed-top ">
			<a class="navbar-brand" href="#">Pi Control Panel .demo</a>
		</nav>
<br>
 <br>
  <br>
	<!--顶部菜单over-->

<!-- 	--导航条-->
	<!-- <div class="container">
	<div class="row">
 <div class="col-md-12  pagebody-top ">
            <ul class="breadcrumb " contenteditable="false">
                <li><a href="#">Navigation1</a> <span class="divider"></span></li>
                <li><a href="#">Navigation2</a> <span class="divider"></span></li>
                <li class="#">Navigation3</li>
            </ul>
        </div>
</div> -->
	<!--导航条over--> 


<div class="">
<table class="table table-bordered table-responsive  ">

<tr>
<td >
	<div class=" ">
  <form class="form-inline">
  <button type="submit" class="btn btn-warning ">初始化GPIO</button> 
  <button type="submit" class="btn btn-danger ">停止</button>
</form>
<br>
</div>

<div class="input-group col-xs-8 col-md-2">
				<div class="input-group-addon"><b>温度:</b></div>
				<input type="text" class="form-control" id="InputDenaturationTemp" placeholder="25℃" disabled>
				<div class="input-group-addon"><b>℃</b></div>
			</div>
		</td>
	</tr>
<tr>	
<td>

<p>输出结果：</p>
<pre class="pre-scrollable" >
等待输出内容。。。


</pre>

</td>
</tr>

<tr>
<td >
<form class="form-inline " >
		<div class="form-group">
			<label class="sr-only" for="Inputbasetime"></label>
			 <button type="submit" class="btn btn-info btn-sm">拉高GPIO</button>
             <button type="submit" class="btn btn-info btn-sm">拉低GPIO</button>
             <button type="submit" class="btn btn-info btn-sm">拉高GPIO</button>
             <button type="submit" class="btn btn-info btn-sm">拉低GPIO</button>
		</div>
	</form>
	</td>
	</tr>


</table>

</div>

</div>

</body>


</html>