<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Pi Control Panel .demo</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropdowns-enhancement.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/head.css') }}">
<script src="{{ url_for('static', filename='js/jquery-min.js') }}"></script>
</head>
<body>
	<div class="container-fluid">
	<!--顶部菜单-->

		<nav class="navbar navbar-inverse navbar-fixed-top ">
			<a class="navbar-brand" href="#">Pi Control Panel .demo</a>
		</nav>
<br>
 <br>
  <br>
	<!--顶部菜单over-->

<!-- 	--导航条-->
	<!-- <div class="container">
	<div class="row">
 <div class="col-md-12  pagebody-top ">
            <ul class="breadcrumb " contenteditable="false">
                <li><a href="#">Navigation1</a> <span class="divider"></span></li>
                <li><a href="#">Navigation2</a> <span class="divider"></span></li>
                <li class="#">Navigation3</li>
            </ul>
        </div>
</div> -->
	<!--导航条over--> 


<table class="table table-bordered table-responsive  col-xs-9 ">

<tr>
<td >
	<div class=" ">
  <form class="form-inline">
  <button type="submit" class="btn btn-warning btn-sm">GPIO初期化</button> 
  <button class="btn btn-danger btn-sm " id="cleanupGPIO">停止</button>
</form>
</div>
  </td>
  </tr>

<tr>
<td>  
<div class="btn-group" role="group" aria-label="...">
  <button id="outpuTemperature"type="text" class="btn btn-default btn-xs">温度：<b>-℃</b></button>
  <button id="t_Refresh" type="button" class="btn btn-info btn-xs">Auto Refresh</button>
  <button id="t_stopRefresh" type="button" class="btn btn-danger btn-xs">Stop</button>
	</div>
		</td>
	</tr>

<tr>	
<td>
  出力の结果：<br>
<pre class="pre-scrollable col-xs-12 col-md-5 text-justify" id="outputTerminal">
GPIO初期化完了 LED0点灯 gpio17==high 
LED0==True
</pre>  </td>  <!-- 不能超过这个宽度，一共2行 -->
</tr>

<tr>
<td >

		<div class="form-group">
      <p>LED0:
			 <button  class="btn btn-default btn-sm" id="turnonLED0">LED0:ON</button>
       <button  class="btn btn-default btn-sm" id="turnoffLED0">LED0:OFF</button></p>
		</div>

モーター/自動運転:

<p>
    <button id="motord1" class="btn btn-default btn-sm">正回転</button>
     <button id="motord2"class="btn btn-default btn-sm">逆回転</button>
     <button id="motorstop"class="btn btn-default btn-sm">ストップ</button>
<!--              <button class="btn btn-default btn-sm" id="bt1">test</button> -->
  </p>

  <form class="form-inline "  autocomplete="on" >
<input type="button"  class="btn btn-info btn-sm" id="motorautorun" value="自動運転開始">
<input type="button" class="btn btn-info btn-sm" id="motorautostop" value="停止(未完成)" disabled="on">
         

    <p>
    <div class="input-group col-xs-11 col-md-4">
      <div class="input-group-addon">運転T1&nbsp&nbsp&nbsp</div>
      <input type="number" step="0.1" class="form-control" id="motorrunningT1" min="0.1" placeholder="秒/S" autocomplete="on" required >
      <div class="input-group-addon">加熱待ちT2</div>
      <input type="number"   step="0.1"class="form-control" id="motorwaitingT2"  min="0.1" placeholder="秒/S" value="2" autocomplete="on" required>
    </div> </p>
<p>
    <div class="input-group col-xs-11 col-md-4">
      <div class="input-group-addon">運転T3 &nbsp&nbsp</div>
      <input type="number"   step="0.1" class="form-control" id="motorrunningT3" min="0.1"  placeholder="秒/S" autocomplete="on" required>
      <div class="input-group-addon">加熱待ちT4</div>
      <input type="number"   step="0.1" class="form-control" id="motorwaitingT4" min="0.1"  placeholder="秒/S" value="2"  autocomplete="on" required>
      </div>
    </p>
    <p>
    <div class="input-group col-xs-11 col-md-4">
      <div class="input-group-addon">逆運転T5</div>
      <input type="number"   step="0.1"class="form-control" id="motorrunningT5" min="0.1"  placeholder="秒/S"  autocomplete="on" required>
      <div class="input-group-addon">加熱待ちT6</div>
      <input type="number"   step="0.1" class="form-control" id="motorwaitingT6"  min="0.1" placeholder="秒/S" value="2" autocomplete="on"  required>
    </div>
  </p>
   <p>
    <div class="input-group col-xs-11 col-md-4">
      <div class="input-group-addon ">逆運転T7</div>
      <input type="number"   step="0.1"class="form-control" id="motorrunningT7" min="0.1"  placeholder="秒/S" autocomplete="on"  required>
      <div class="input-group-addon">加熱待ちT8</div>
      <input type="number"   step="0.1" class="form-control" id="motorwaitingT8" min="0.1"  placeholder="秒/S" value="2"  autocomplete="on" required>
    </div>

  </p>
  </form> 
  </div> </td> </tr>
 

</table>




</body>
<script>
//测试脚本，测试id==bt1,路由==test	
$(document).ready(function(){
  $("#bt1").click(function(){
    $.post("/picp/test",{},function(data,status){
      // alert("数据：" + data + "\n状态：" + status);
       $("#outputTerminal").text("方法：" + data + "状态：" + status);
    });
  });
});

//LED0高电平输出
$(document).ready(function(){
  $("#turnonLED0").click(function(){
    $.post("/picp/pullupgpio/LED0",{},function(data,status){
       $("#outputTerminal").text(data +"GPIO4==True"+"\n状態：" + status+"");
    });
  });
});

//LED0低电平输出
$(document).ready(function(){
  $("#turnoffLED0").click(function(){
    $.post("/picp/pulldowngpio/LED0",{},function(data,status){
       $("#outputTerminal").text(data +"GPIO4==False"+" \n状態：" + status+"");
    });
  });
});

//马达控制
$(document).ready(function(){
  $("#motord1").click(function(){ //马达方向1
    $.post("/picp/motord1",{},function(data,status){
       $("#outputTerminal").text(data +" 状態：" + status);
    });
  });
});

$(document).ready(function(){
  $("#motord2").click(function(){  //马达方向2
    $.post("/picp/motord2",{},function(data,status){
       $("#outputTerminal").text(data +" 状態：" + status);
    });
  });
});

$(document).ready(function(){
  $("#motorstop").click(function(){  //马达停止
    $.post("/picp/motorstop",{},function(data,status){
       $("#outputTerminal").text(data +" 状態：" + status);
    });
  });
});

$(document).ready(function(){
  $("#motorautorun").click(function(){  //自动控制
    var t1=$("#motorrunningT1").val();
    var t2=$("#motorwaitingT2").val();
    var t3=$("#motorrunningT3").val();
    var t4=$("#motorwaitingT4").val();
    var t5=$("#motorrunningT5").val();
    var t6=$("#motorwaitingT6").val();
    var t7=$("#motorrunningT7").val();
    var t8=$("#motorwaitingT8").val();
    if (t1=="" || t2=="" || t3=="" ||t4 =="" || t5 =="" || t6=="" || t7=="" || t8=="" ) {
      $("#outputTerminal").text("T1~T8を全部入れてください。");
    }else{
      $("#outputTerminal").text("運転中　t1=" + t1+" t2="+t2+" t3="+t3+" t4="+t4+"\nt5="+t5+" t6="+t6+" t7="+t7+" t8="+t8 );
      $.post("/picp/motorautorun/1",{
         "t1":t1,
         "t2":t2,
         "t3":t3,
         "t4":t4,
         "t5":t5,
         "t6":t6,
         "t7":t7,
         "t8":t8
        },function(data,status){
           $("#outputTerminal").text(data +"状態：" + status);
               });
         }

        });


$("#motorautostop").click(function(){  //马达停止
    $.post("/picp/motorautorun/0",{},function(data,status){
       $("#outputTerminal").text("自動運転完了" + data +" 状態：" + status);
    });
  });

});
　　 





//刷新温度(1秒刷新一次)
$(document).ready(function(){
  //开始刷新按钮
  $("#t_Refresh").click(function(){
   var Tcount= setInterval(refreshTemp,2000);
  });

 $("#t_stopRefresh").click(function(){
    // clearInterval(Tcount);
    $("#outputTerminal").text("停止温度轮询\n \n");
  });

  function refreshTemp(){
  $.post("/picp/t_refresh",{},function(data,status){
       $("#outputTerminal").text("メソッド：" + "post  戻り値："+data+"度address_adt7410 = 0x48"+" 状態：" + status);
       $("#outpuTemperature").html("温度：<b>"+data+"℃</b>");
    });
}
});

  //停止刷新按钮
// $(document).ready(function(){

// });



</script>


</html>