<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Pi Control Panel .demo</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropdowns-enhancement.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/head.css') }}">
<script src="{{ url_for('static', filename='js/jquery-min.js') }}"></script>
</head>
<body>
	<div class="container-fluid">
	<!--顶部菜单-->

		<nav class="navbar navbar-inverse navbar-fixed-top ">
			<a class="navbar-brand" href="#">Pi Control Panel .demo</a>
		</nav>
<br>
 <br>
  <br>
	<!--顶部菜单over-->

<!-- 	--导航条-->
	<!-- <div class="container">
	<div class="row">
 <div class="col-md-12  pagebody-top ">
            <ul class="breadcrumb " contenteditable="false">
                <li><a href="#">Navigation1</a> <span class="divider"></span></li>
                <li><a href="#">Navigation2</a> <span class="divider"></span></li>
                <li class="#">Navigation3</li>
            </ul>
        </div>
</div> -->
	<!--导航条over--> 


<div class="">
<table class="table table-bordered table-responsive  ">

<tr>
<td >
	<div class=" ">
  <form class="form-inline">
  <button type="submit" class="btn btn-warning btn-sm">GPIO初期化</button> 
  <button class="btn btn-danger btn-sm " id="cleanupGPIO">停止</button>
</form>
</div>
  </td>
  </tr>

<tr>
<td>  
<div class="btn-group" role="group" aria-label="...">
  <button id="outpuTemperature"type="text" class="btn btn-default btn-xs">温度：<b>-℃</b></button>
  <button id="t_Refresh" type="button" class="btn btn-info btn-xs">Auto Refresh</button>
  <button id="t_stopRefresh" type="button" class="btn btn-danger btn-xs">Stop</button>
	</div>
		</td>
	</tr>

<tr>	
<td>
出力の结果：省略
<!--<pre class="pre-scrollable" id="outputTerminal">
GPIO初期化完了，LED0点灯。
gpio17==high，LED0==True


</pre> -->  <!--此处2行空格不能删除 -->
</td>
</tr>

<tr>
<td >

		<div class="form-group">
      <p>LED0:
			 <button  class="btn btn-info btn-sm" id="turnonLED0">LED0:ON</button>
       <button  class="btn btn-info btn-sm" id="turnoffLED0">LED0:OFF</button></p>
		</div>

モーター/自動制御(半角数字を入れてください):
	<form class="form-inline">
  	<div class="form-group">

			 <button id="motord1" class="btn btn-default btn-sm">正回転</button>
             <button id="motord2"class="btn btn-default btn-sm">逆回転</button>
             <button id="motorstop"class="btn btn-warning btn-sm">ストップ</button>
<!--              <button class="btn btn-default btn-sm" id="bt1">test</button> -->
<button  class="btn btn-info btn-sm" id="motorautorun">自動運転開始</button>
           </div>


    <p>
    <div class="input-group">
      <div class="input-group-addon">運転T1</div>
      <input type="text" class="form-control" id="motorrunningT1" placeholder="秒/Second" value="4.1">
      <div class="input-group-addon">加熱待ちT2</div>
      <input type="text" class="form-control" id="motorwaitingT2" placeholder="秒/Second" value="2">
    </div> </p>
<p>
    <div class="input-group">
      <div class="input-group-addon">運転T3</div>
      <input type="text" class="form-control" id="motorrunningT3" placeholder="秒/Second" value="4">
      <div class="input-group-addon">加熱待ちT4</div>
      <input type="text" class="form-control" id="motorwaitingT4" placeholder="秒/Second" value="2">
      </div>
    </p>
    <p>
    <div class="input-group">
      <div class="input-group-addon">逆運転T5</div>
      <input type="text" class="form-control" id="motorrunningT5" placeholder="秒/Second" value="2.2">
      <div class="input-group-addon">加熱待ちT6</div>
      <input type="text" class="form-control" id="motorwaitingT6" placeholder="秒/Second" value="2">
    </div>
  </p>
   <p>
    <div class="input-group">
      <div class="input-group-addon">逆運転T7</div>
      <input type="text" class="form-control" id="motorrunningT7" placeholder="秒/Second" value="2.4">
      <div class="input-group-addon">加熱待ちT8</div>
      <input type="text" class="form-control" id="motorwaitingT8" placeholder="秒/Second" value="2">
    </div>

  </p>
      </div> 

    </form>  

  </td>
  </tr>


</table>

</div>

</div>

</body>
<script>
//测试脚本，测试id==bt1,路由==test	
$(document).ready(function(){
  $("#bt1").click(function(){
    $.post("/picp/test",{},function(data,status){
      // alert("数据：" + data + "\n状态：" + status);
       $("#outputTerminal").text("方法：" + data + "\n状态：" + status);
    });
  });
});

//LED0高电平输出
$(document).ready(function(){
  $("#turnonLED0").click(function(){
    $.post("/picp/pullupgpio/LED0",{},function(data,status){
       $("#outputTerminal").text("メソッド：" + data +" LED0点灯,GPIO27==True"+"\n状態：" + status+"\n\n\n");
    });
  });
});

//LED0低电平输出
$(document).ready(function(){
  $("#turnoffLED0").click(function(){
    $.post("/picp/pulldowngpio/LED0",{},function(data,status){
       $("#outputTerminal").text("メソッド：" + data +" LED0消灯,GPIO27==False"+"\n状態：" + status+"\n\n\n");
    });
  });
});

//马达控制
$(document).ready(function(){
  $("#motord1").click(function(){ //马达方向1
    $.post("/picp/motord1",{},function(data,status){
       $("#outputTerminal").text("メソッド：" + data +"\n状態：" + status);
    });
  });
});

$(document).ready(function(){
  $("#motord2").click(function(){  //马达方向2
    $.post("/picp/motord2",{},function(data,status){
       $("#outputTerminal").text("メソッド：" + data +"\n状態：" + status);
    });
  });
});

$(document).ready(function(){
  $("#motorstop").click(function(){  //马达停止
    $.post("/picp/motorstop",{},function(data,status){
       $("#outputTerminal").text("メソッド：" + data +"\n状態：" + status);
    });
  });
});

$(document).ready(function(){
  $("#motorautorun").click(function(){  //自动控制
    var t1=$("#motorrunningT1").val();
    var t2=$("#motorwaitingT2").val();
    var t3=$("#motorrunningT3").val();
    var t4=$("#motorwaitingT4").val();
    var t5=$("#motorrunningT5").val();
    var t6=$("#motorwaitingT6").val();
    var t7=$("#motorrunningT7").val();
    var t8=$("#motorwaitingT8").val();
    $.post("/picp/motorautorun",{
       "t1":t1,
       "t2":t2,
       "t3":t3,
       "t4":t4,
       "t5":t5,
       "t6":t6,
       "t7":t7,
       "t8":t8
    },function(data,status){
       $("#outputTerminal").text("メソッド：" + data +"\n状態：" + status);
    });
  });

$("#motorstop2").click(function(){  //马达停止
    $.post("/picp/motorstop",{},function(data,status){
       $("#outputTerminal").text("メソッド：" + data +"\n状態：" + status);
    });
  });
　　

});



//刷新温度(1秒刷新一次)
$(document).ready(function(){
  //开始刷新按钮
  $("#t_Refresh").click(function(){
   var Tcount= setInterval(refreshTemp,2000);
  });

 $("#t_stopRefresh").click(function(){
    // clearInterval(Tcount);
    $("#outputTerminal").text("停止温度轮询\n \n");
  });

  function refreshTemp(){
  $.post("/picp/t_refresh",{},function(data,status){
       $("#outputTerminal").text("メソッド：" + "post\n戻り値："+data+"度\naddress_adt7410 = 0x48"+"\n状態：" + status);
       $("#outpuTemperature").html("温度：<b>"+data+"℃</b>");
    });
}
});

  //停止刷新按钮
// $(document).ready(function(){

// });



</script>


</html>